<form method="post" action="{{ path('app_location_delete', {'idLocation': location.idLocation}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette location?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ location.idLocation) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>